<div class="container">
  <div class="well">

    <% include partials/navbar %>

    <form action="/movie/:imdbid" method="post">
      <div class="form-group">
        <label for="title"></label>
      </div>

      <!-- <h1><%- movie %></h1> -->

        <h3>
          <%= movie.Title %>
        </h3>
        <p>
          Year: <%= movie.Year %>
        </p>
        <p>
          Plot: <%= movie.Plot %>
        </p>
        <p>
          Rating (out of 10): <%= movie.imdbRating %>
        </p>
        <p>
          Rated: <%= movie.Rated %>
        </p>
        <p>
          Awards: <%= movie.Awards %>
        </p>
        <p>
          Director: <%= movie.Director %>
        </p>
        <p>
          Actors: <%= movie.Actors %>
        </p>
        <p>
          <img src="<%= movie.Poster %>" alt="Poster">
        </p>

        <p>Add a new film or tv show to your watchlist!</p>
        <input href="watchlist" type="submit" class="btn btn-primary">

    </form>


  </div>
</div>
