<body class="watchlistbody">
  <div class="col-sm-8">

  <% include partials/navbar %>
</div>
<br>
<br>
  <h1 class="well">Watchlist!</h1>

    <% list.forEach(function(movie){ %>
<div class="container itembody">
  <!-- <div class="well itembody"> -->
  <div class="row">
    <div class="col-xs-12">
      <h3 class="wborder">

        <%= movie.title %>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <p>
        <img class="poster" src="<%= movie.poster %>" alt="Poster">
      </p>
    </div>
    <div class="col-xs-8">
      <p>
        Plot: <%= movie.plot %>
      </p>
      <p>
        Rating (out of 10): <%= movie.rating %>
      </p>
      <p>
        Rated: <%= movie.rated %>
      </p>
      <p>
        Awards: <%= movie.awards %>
      </p>
      <p>
        Director: <%= movie.director %>
      </p>
      <p>
        Actors: <%= movie.actors %>
      </p>
    </div>

  </div>
  <div class="row">
    <div class="col-xs-12">
      <a href="/movie/<%= movie.id %>" class="btn btn-danger delete-link poster">Delete From Watchlist</a>
    </div>
  </div>

<!-- </div> -->
  </div>

  <% }); %>

</body>
